//  *************************Colors*************************

$Green: hsl(163, 72%, 41%);
$Red: hsl(356, 69%, 56%);

$Facebook: hsl(208, 92%, 53%);
$Twitter: hsl(203, 89%, 53%);
$Instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
$YouTube: hsl(348, 97%, 39%);

//  *************************Toggle*************************

$Dark-Toggle: linear-gradient(to left, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
$Light-Toggle: hsl(230, 22%, 74%);

//  *************************Dark Theme*************************

$Dark-BG-Page: hsl(230, 17%, 14%);
$Dark-BG-Card: hsl(232, 19%, 15%);
$Dark-BG-Card-hover: hsl(228, 28%, 20%);
$Dark-text-color: hsl(0, 0%, 100%);
$Dark-text-color-hover: hsl(228, 34%, 66%);

//  *************************Light Theme*************************

$Light-BG-Page: hsl(0, 0%, 100%);
$Light-BG-Card: hsl(225, 100%, 98%);
$Light-BG-Card-hover: hsl(227, 47%, 96%);
$Light-text-color: hsl(228, 12%, 44%);
$Light-text-color-hover: hsl(230, 17%, 14%);
