//  *************************Colors*************************

$Green: hsl(163, 72%, 41%);
$Red: hsl(356, 69%, 56%);

//  *************************Toggle*************************
$Dark-Toggle: linear-gradient(
	60deg,
	rgba(189, 8, 32, 1) 0%,
	rgba(25, 109, 186, 0.7255835439644608) 54%,
	rgba(159, 221, 31, 1) 100%
);

//  *************************Dark Theme*************************

$Dark-BG-Page: hsl(230, 17%, 14%);
$Dark-BG-Card: hsl(301deg 16% 19%);
$Dark-BG-Card-hover: hsl(228, 28%, 20%);
$Dark-text-color: hsl(0, 0%, 100%);
$Dark-title-color: hsl(297deg 39% 69% / 90%);
$Dark-text-color-hover: hsl(118deg 58% 47%);

//  *************************Light Theme*************************

$Light-BG-Page: hsl(0, 0%, 100%);
$Light-BG-Card: hsl(255, 30%, 92%);
$Light-BG-Card-hover: hsl(227, 47%, 96%);
$Light-text-color-hover: hsl(228, 12%, 44%);
$Light-text-color: hsl(230, 17%, 14%);

// CSS VARIABLES

// Dark COLORS
// --BG-Page: hsl(230, 17%, 14%);
// --BG-Card: hsl(301deg 16% 19%);
// --BG-Card-hover: hsl(228, 28%, 20%);
// --title-color: hsl(297deg 39% 69% / 90%);
// --text-color: hsl(0, 0%, 100%);
// --text-color-hover: hsl(118deg 58% 47%);

// // Light COLORS
// --BG-Page: hsl(0, 0%, 100%);
// --BG-Card: hsl(225, 100%, 98%);
// --BG-Card-hover: hsl(227, 47%, 96%);
// --title-color: hsl(297deg 39% 69% / 90%);
// --text-color: hsl(228, 12%, 44%);
// --text-color-hover: hsl(230, 17%, 14%);
//
