@use '../mixins/' as *;
@use '../base/' as *;

.top-card-container {
	display: flex;
	flex-flow: row wrap;
	gap: 2rem;
	justify-content: center;
	align-items: center;
	padding: 3rem 0;
	margin-inline: auto;

	@include devices(desktop) {
	}
}

.card {
	background-color: $Dark-BG-Card;
	color: $Dark-text-color;
	position: relative;
	flex: 0 0 min(85%, max(20%, 301px));
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border-radius: 5px;
	padding: 1.5rem 0;
	overflow: hidden;
	gap: 1rem;
	cursor: pointer;

	&:hover {
		background-color: $Dark-BG-Card-hover;
		color: $Dark-text-color-hover;
	}
}

.ligth-mode-card {
	background-color: $Light-BG-Card;
	color: $Light-text-color;

	&:hover {
		background-color: $Light-BG-Card-hover;
	}
}

.card-header {
	& .nickname {
		font-family: Inter, 'Arial Narrow Bold', sans-serif;
		color: $Dark-title-color;
	}
}

.icon-container,
.footer {
	font-family: InterBold;
	display: flex;
	gap: 0.5rem;
	justify-content: center;
	align-items: center;
}

.card-body {
	text-align: center;

	.body__title {
		font-size: clamp(2.5rem, 2rem + 5vw, 4rem);
		font-family: InterBold;
		margin: 0;
		font-size: 1.9em;
	}
	.body__subtitle {
		margin: 0.5rem 0;
		letter-spacing: 5px;
		font-size: 0.7em;
	}
}

.card-footer {
	.arrow {
		&-green {
			color: $Green;
		}

		&-red {
			color: $Red;
		}
	}
}
