@use '../mixins/' as *;
@use '../base/' as *;

.down-cards-container {
	display: flex;
	flex-flow: row wrap;
	gap: 2rem;
	justify-content: center;
	align-items: center;
	margin-inline: auto;

	@include devices(desktop) {
	}

	.card {
		height: 7em;
		padding: 1.5em;

		&__header {
			display: flex;

			& .image__container {
			}
			& .card__title {
				color: $Dark-title-color;
				font-size: 0.7rem;
			}
			& .card__icon {
			}
		}
		&__header,
		&__footer {
			width: 100%;
			display: flex;
			justify-content: space-between;
		}

		&__footer {
			.data-type {
				font-size: 1.7em;
				font-family: InterBold;
			}

			& .icon-container {
				font-size: 0.7em;
			}
		}

		&.dark-theme {
		}
	}
}
