---
import '../scss/componenets/_btn-dark.scss';
---

<div class='dark-mode'>
	<b>Dark Mode</b>
	<div class='btn'>
		<span class='btn__circle'></span>
	</div>
</div>

<style lang='scss'></style>

<script>
	import '../js/dark_mode.js';
</script>
