---
import data from '../data/data.json';
const { header } = data;
import '../scss/componenets/_header.scss';
import FlipSwitch from './FlipSwitch.astro';
---

<header class='header'>
	<div class='header__title-container'>
		<h1 class='title'>{header.title}</h1>
		<h3 class='subtitle'>{header.subtitle}</h3>
	</div>
	<div class='header__btn-container'>
		<p class='btn-text'>Dark Mode</p>
		<FlipSwitch />
	</div>
</header>
