@use './base/' as *;
@use './mixins/' as *;

body {
	background-color: $Dark-BG-Page;
	color: $Dark-text-color;
	font-size: 1rem;
	padding: 1rem 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

.facebook::after,
.twitter::after,
.instagram::after,
.youtube::after {
	content: '';
	position: absolute;
	height: 5px;
	width: 100%;
	inset: 0;
}

// CARDS TOP COLOR

.facebook::after {
	background: rgb(189, 8, 66);
	background: linear-gradient(
		60deg,
		rgba(189, 8, 66, 1) 0%,
		rgba(24, 33, 124, 0.7255835439644608) 55%,
		rgba(9, 119, 142, 1) 100%
	);
}
.twitter::after {
	background: rgb(187, 8, 189);
	background: linear-gradient(
		60deg,
		rgba(187, 8, 189, 1) 0%,
		rgba(24, 64, 124, 0.7255835439644608) 75%,
		rgba(142, 9, 22, 1) 100%
	);
}
.instagram::after {
	background: rgb(187, 8, 189);
	background: radial-gradient(
		circle farthest-corner at 10% 20%,
		rgba(255, 37, 174, 1) 0%,
		rgba(241, 147, 55, 1) 53.4%,
		hsl(56, 95%, 60%) 99.5%
	);
}
.youtube::after {
	background: rgb(8, 189, 157);
	background: linear-gradient(
		60deg,
		rgba(8, 189, 157, 1) 0%,
		rgba(28, 25, 186, 0.7255835439644608) 75%,
		rgba(221, 31, 95, 1) 100%
	);
}

// COLOR PORCENTAGE NUMBER

.text-arrow__green {
	color: hsl(120, 100%, 25%);
}
.text-arrow__red {
	color: hsl(0, 100%, 50%);
}

// COLOR LIGTH MODE

.ligth-mode-body {
	background-color: $Light-BG-Page;
	color: $Light-text-color;
}
